률아/** *.html linguist-detectable=false
률아/** *.jupyter linguist-detectable=false
률아/** *.ipynb linguist-detectable=false
률아/** *.Jupyter linguist-detectable=false
률아/** *.Ipynb linguist-detectable=false
률아/** *.Jupyter Notebook linguist-detectable=false
